html {
  background-color: #7E685A;
}

body {
  margin: 0;
}

.header {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  /* background-color: #C2B9B0; */
  background-color: #7E685A;
  top: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
}
.changeDiv {
  display: flex;
}

.changePerContainer {
  display: flex;
}

.mainContainer {
  display: flex;
  background-color: #C2B9B0;
  height: 100vh;
  margin-top: 36vh;
  padding: 10px;
}

.keywords {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.eachKeyword {
  width: 100px;
  padding: 5px;
  margin: 2px;
}

.searches {
  display: flex;
  justify-content: space-around;
}

.h1 {
  align-self: center;
  font-size: 10vh;
  color: white;
  /* color: #C2B9B0; */
}

/* h3 {
  color: white;
} */

.sidebar {
  /* border: 1px solid black; */ 
  width: 25vw;
}

.stockInfo {
  /* border: 1px solid black; */
  width: 75vw;
}

.searchText {
  /* color: #C2B9B0; */
  color: white;
}